html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  width: 100%;
  display: flex;
  min-height: 240px;
}

.robot {
  position: relative;
  width: 100%;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 24%;
}

.robot:hover .robot-brain {
  top: 10%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
}

.robot-head-left {
  left: 43.65%;
  transform: translateX(-50%);
  top: 7%;
}

.robot:hover .robot-head-left {
  top: 5%;
  left: 40%;
}

.robot-head-right {
  left: 56.5%;
  transform: translateX(-50%);
  top: 7%;
}

.robot:hover .robot-head-right {
  top: 5%;
  left: 59%;
}
